body {
    margin: 0;
    font-family: "Helvetica", sans-serif;
}
p {
    max-width: 600px;
    margin: 0 auto 20px;
    color: black;
}


/*Homepage header stuff*/
div.header, div.header-join, div.header-sitemap {
    height: 100vh;
    background-position: center;
    background-image: url(/images/pikachuBG.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1.topHeader {
  margin-top: 75px;
  margin-left: 16px;
}
#mainTitle {
    font-size: 100px;
    color: white;
    text-shadow: 0px 2px 5px gray;
}
#mainSlogan {
    font-size: 250%;
    color: white;
    text-shadow: 0px 2px 5px gray;
    margin-top: -30px;
}


/*Homepage stuff*/
div.home-imagebar {
  background-image: url(/images/pikachuBG2.jpg);
  background-position: bottom;
  height: 100px;
}


/*Footer stuff*/
div.footer {
  background-color: black;
  color: #fff;
  height: 170px;
}
.footer .footer-content {
  position: relative;;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.footer-iconlist {
  margin-left: -40px;
}
.footer-iconlist-li {
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 0px;
  display: inline-block;
}
.footer-image {
  height: 35px;
}
h1.footer-header {
  color: white;
  margin: 0;
  /*text-align: center;*/


}


/*Sitemap Page Stuff*/
.sitemap-page {
  background-color: rgb(245, 229, 94);
}
.sitemap-page .header-sitemap {
  background-image: url(/images/pikachuBG3.png);
}


/*Join Page stuff*/
.join-page {
  background-color: rgb(245, 229, 94);
}
.join-page .header-join {
  background-image: url(/images/pikachuBG2.jpg);
}
#form-div {
  color: rgb(41, 37, 33);
  margin-left: 25%;
}
.form-elements-gender {
  margin-left: 85px;
  margin-bottom: 5%;
  margin-top: 4px;
  height: 15px;
}
.form-elements-gender:hover, #male-radio:hover {
  cursor: pointer;
}
.form-elements-button {
  background-color: white;
  border: 3px solid #fc9a09;
  color: black;
  height: 35px;
  width: 101%;
  font-size: 20px;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.form-elements-button:hover {
  color: white;
  background-color: #fc9a09;
  cursor: pointer;
}
.form-elements-button:active {
  -webkit-transition-duration: 0s; /* Safari */
  transition-duration: 0s;
  border: 3px solid #e08907;
  background-color: #e08907;
}
.form-elements {
  width: 100%;
  height: 23px;
  margin-bottom: 5%;
  margin-top: 4px;
  border-radius: 8px;
  border: none;
}
/*Found this online when looking for a better way to get the birthday field*/
.datefield {
    display: inline;
    padding: 0.3em;
    background: #FFF;
    border-radius: 8px;
    height: 23px;
    width: 100%;
}
.datefield input {
    width: 105px;
    border: none;
    font-size: 80%;
    background: none;
    color: #000;
    margin-bottom: 6%;
    margin-top: 8px;
}


/*
Following css were totally stolen from a website i liked.
I changed the items as needed to match what I wanted.
Mostly helped with making a cool nav bar.
*/
#main-nav #fixed-nav {
    background-color: rgba(253, 154, 9, 0.95);
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}
#main-nav #fixed-nav .main-nav-inner {
    text-align: center;
    justify-content: center;
    align-items: center;
}
#main-nav .main-nav-inner {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 70%;
    display: -webkit-flex;
}
#main-nav .nav-link-holder {
    padding: .4rem;
    width: 12%;
}
#main-nav .nav-link-holder a {
    display: inline-block;
    color: white;
    font-size: 110%;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px 1px gray;
}
#main-nav .nav-link-holder a:hover {
    color: #F0595C;
    transition: background-color, 0.25s, cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -webkit-transition-duration: 0.25s; /* Safari */

}
#main-nav .logo.symbol img {
    display: inline-block;
    position: relative;
    width: 55px;
    height: 55px;
}
